<div class="container" align="center">

    <%= form_for(@book) do |f| %>

      <%= render 'layouts/error', book: @book %>

        <div class="field">
          <label for="title">Title</label></br>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <label for="body">Body</label></br>
          <%= f.text_area :body %>
        </div>

        <div class="actions">
          <%= f.submit 'Create Book'%>
        </div>

      <% end %>

</dir>