
<%= form_for(@book) do |f| %>

  <%= render 'layouts/error', book: @book %>

    <dir class="field">
      <label for="title">Title</label>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <label for="body">Body</label>
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit 'Create Book'%>
    </div>

  <% end %>
