<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
	  		<%= link_to "Home", root_path %>
	  		<%= link_to "Books", books_path %>
        <%= link_to "New Book", new_book_path %>
  	</header>

    <%= yield %>
  </body>
</html>
